@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-shadow {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .animate-on-scroll {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    }

    .animate-slide-up-fade {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }

    .text-gradient {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-dark via-blue-700 to-primary-light font-bold;
    }

    .text-gradient-accent {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-accent to-orange-600 font-bold;
    }

    .text-highlight {
        @apply font-semibold text-primary-dark bg-accent/10 px-1 rounded mx-0.5;
    }

    .animate-pan-slow {
        animation: pan-slow 20s ease-in-out infinite alternate;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    @keyframes pan-slow {
        0% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1.2) translate(-20px, -10px);
        }
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply font-sans text-secondary bg-slate-50;
    }

    h1 {
        @apply font-semibold text-primary;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold text-primary;
    }
}

@layer components {
    .btn-primary {
        @apply bg-accent hover:bg-accent-hover text-white font-bold py-2 px-6 rounded transition-colors duration-300;
    }

    .container-custom {
        @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
    }
}